definition.json
{
  "Comment": "Copy csv files to Redshift triggered by S3 upload event and finally insert them into RDS using DBLINK",
  "StartAt": "copyS3ToRedshift",
  "States": {
    "copyS3ToRedshift": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxxx:function:copyS3ToRedshift",
      "Next": "insertIntoAurora",
      "Catch": [ {
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": "$.error",
        "Next": "fallbackRedshift"
     } ]
    },
    "insertIntoAurora": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxxx:function:insertIntoAurora",
      "Next": "outputResultToJson",
      "Catch": [ {
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": "$.error",
        "Next": "fallbackAurora"
     } ]
    },
    "fallbackRedshift": {
      "Type": "Task",
      "Resource":"arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxxxx:function:fallbackRedshift",
      "Next":"outputResultToJson"
    },
      "fallbackAurora": {
      "Type": "Task", 
      "Resource":"arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxxxx:function:fallbackAurora",
      "Next":"outputResultToJson"
},
    "outputResultToJson": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:xxxxxxxxxxxxxx:function:outputResultToJson",
      "End": true
    }
  }
}
